.main-content {
    box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
    background-color: #fff;
    margin: auto;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    min-height: calc(100vh - 312px);
}

.right {
    display: none;
}

h2 {
    margin-top: 0;
}

.thutuc {
    display: none;
}

@media only screen and (min-width: 426px) {
    .main-content {
        max-width: 1200px;
        box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
        background-color: #fff;
        margin: auto;
        min-height: calc(100vh - 235px);
        padding-top: 10px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    img {
        width: 100%;
    }
    .left {
        padding: 0 20px;
    }
    .right {
        display: inline-block;
    }
    .content {
        font-size: 17px;
    }
    .thutuc {
        display: inline-block;
    }
}