.main-content {
    box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
    background-color: #fff;
    margin: auto;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    min-height: calc(100vh - 312px);
    display: grid;
    grid-template-columns: auto auto ;
}

.left_column{
    padding: 0 10px 0 0;
}

img{
    width: 100%;
}

h2{
    color: rgb(39, 39, 201);
    font-size: 20px;
    margin: 0;
}

.content{
    margin: 0;
    padding: 0;
}

a{
    display: block;
    font-size: 18px;
    padding: 5px;
}


@media only screen and (min-width: 575px) {
    .main-content{
        max-width: 1200px;
        box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
        background-color: #fff;
        margin: auto;
        min-height: calc(100vh - 235px);
        padding-top: 10px;
        grid-template-columns: auto auto ;
    }

    .content{
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 769px) {
    .main-content {
        box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
        background-color: #fff;
        margin: auto;
        padding: 10px 10px 10px 10px;
        text-align: justify;
        min-height: calc(100vh - 312px);
        display: grid;
        grid-template-columns: auto auto ;
    }
}

