.main-content {
    box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
    background-color: #fff;
    margin: auto;
    padding: 0 10px 0 10px;
}

.info-title {
    font-family: Opensans-bold;
  }
  .info-content {
    padding-left: 50px;
  }
  .info-contact {
    color: #005095;
  }
  .home-body.body-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  


@media only screen and (min-width: 426px) {
    .main-content{
        box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
        background-color: #fff;
        max-width: 600px;
        margin: auto;
    }
}

@media only screen and (min-width: 1025px) {
  .main-content{
      box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
      background-color: #fff;
      max-width: 1024px;
      padding: 30px;
      margin: auto;
  }
}

